.songList {
  max-height: 500px;
  overflow-y: scroll;
}

.songSelection {
  cursor: pointer;
}

.songSelection:hover {
  background-color: #007bff6b;
}

.menuButtons {
  margin: 10px;
}

.error {
  color: red;
  padding: 3px;
}

.noteEntry, .wordEntry {
  display: inline-block;
  max-width: 60px;
}

.tempoChangeEntry, .timeSignatureEntry, .tempoResolutionEntry {
  display: inline-block;
  max-width: 25px;
}

.tempoChangeEntry > form > input, .timeSignatureEntry > form > input, .tempoResolutionEntry > form > input {
  padding: 0px;
  text-align: center;
}

.voiceLable, .verseLabel {
  vertical-align: top;
  display: inline-block;
  text-transform: capitalize;
  font-weight: bold;
  padding-right: 3px;
}
