.practiceHomeDiv, .practiceTempoDiv, .practiceTempoDiv-active {
  position: fixed;
  right: 10px;
  z-index: 1;
}

.practiceHomeDiv {
  bottom: 10px;
}

.practiceTempoDiv, .practiceTempoDiv-active {
  top: 10px;
  text-align: right;
  transition: width .5s, background-color .5s;
  border-radius: 4px;
}

.practiceTempoDiv {
  width: 60px;
}

.practiceTempoDiv-active {
  background-color: #8dd8f182;
}
