@import url('css/imageAssignments.css');

.globalBackground {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.voice-controller {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 13%;
}

.voiceButton {
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
  height: 25%;
  transition: background-size .5s, opacity .5s;
  opacity: .8;
}

.voiceButton-active {
  background-size: 100% 100%;
  opacity: 1;
}
